<mat-toolbar color="secondary" class="main-toolbar">
  <span class="spacer"></span>
  <button mat-menu-item class="menu" [routerLink]="['/story']">Our Story</button>
  <span> | </span>
  <button mat-menu-item class="menu" [routerLink]="['/party']">Wedding Party</button>
  <span> | </span>
  <button mat-menu-item class="menu" [routerLink]="['/travel']">Travel</button>
  <span> | </span>
  <button mat-menu-item class="menu" [routerLink]="['/sched']">Schedule</button>
  <span> | </span>
  <button mat-menu-item class="menu title" [routerLink]="['/']">The Newtons</button>
  <span> | </span>
  <button mat-menu-item class="menu" [routerLink]="['/reg']">Registry</button>
  <span> | </span>
  <button mat-menu-item class="menu" [routerLink]="['/pics']">Photos</button>
  <span> | </span>
  <button mat-menu-item class="menu" [routerLink]="['/faq']">FAQ</button>
  <span> | </span>
  <button mat-menu-item class="menu" [routerLink]="['/stuff']">Things To Do</button>
  <span class="spacer"></span>
</mat-toolbar>
