<mat-toolbar color="secondary" class="main-toolbar">
  <span class="spacer"></span>
  <button mat-menu-item class="menu">Our Story</button>
  <span> | </span>
  <button mat-menu-item class="menu">Wedding Party</button>
  <span> | </span>
  <button mat-menu-item class="menu">Travel</button>
  <span> | </span>
  <button mat-menu-item class="menu">Schedule</button>
  <span> | </span>
  <button mat-menu-item class="menu title">The Newtons</button>
  <span> | </span>
  <button mat-menu-item class="menu">Registry</button>
  <span> | </span>
  <button mat-menu-item class="menu">Photos</button>
  <span> | </span>
  <button mat-menu-item class="menu">FAQ</button>
  <span> | </span>
  <button mat-menu-item class="menu">Things To Do</button>
  <span class="spacer"></span>
</mat-toolbar>
