<div class="main-txt">
  <div class="title-div">
    <h1 class="title">Wedding Party</h1>
    <hr />
  </div>
  <div class="content row">
    <div class="col-sm-12 row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <!-- <p>Groomsmen</p> -->
        <label class="switch">
          <input (change)="onCheck()" type="checkbox" [checked]="brides" />
          <span class="slider round"></span>
        </label>
        <!-- <p>Bridesmaids</p> -->
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div *ngIf="brides" class="card-group">
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/img/shannon.jpg"
          alt="Picture of shannon"
        />
        <div class="card-body">
          <h5 class="card-title">Shannon</h5>
          <p class="card-text">
            Shannon and I have been friends since middle school! She is the
            sweetest person and an ace at trivia. We LOVE going to wine BINGO
            any chance we get. You can expect she’ll be the first one on the
            dance floor, and the last one to leave it!
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Maid of Honor</small>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/img/sam.jpg"
          alt="Picture of sam"
        />
        <div class="card-body">
          <h5 class="card-title">Sam</h5>
          <p class="card-text">
            Sam and I met during our summer internship, where we quickly became
            best friends. She is the kindest, most generous person you’ll ever
            meet! Sam is always the life of the party, and you’ll probably find
            her getting the dance floor started with champagne in hand when the
            Macarena is played!
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Bridesmaid</small>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/img/heather.jpg"
          alt="Picture of heather"
        />
        <div class="card-body">
          <h5 class="card-title">Heather</h5>
          <p class="card-text">
            Heather and I met in the 5th grade, where we spent many days after
            school talking when Heather was having drum lessons. LOL Our
            friendship has grown and we LOVE designing mine and Aaron’s house.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Bridesmaid</small>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/img/jen.jpg"
          alt="Picture of jen"
        />
        <div class="card-body">
          <h5 class="card-title">Jen</h5>
          <p class="card-text">
            Jen is my soon to be sister-in-law who is always there for us, so of
            course I wanted her by my side on my wedding day. I am so excited to
            have a sister and love being an aunt to her new daughter!
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Bridesmaid</small>
        </div>
      </div>
    </div>
    <div *ngIf="!brides" class="card-group col-sm-12 row">
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/img/josh.png"
          alt="Picture of josh"
        />
        <div class="card-body">
          <h5 class="card-title">Josh</h5>
          <p class="card-text">Josh is my brother</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Best Man</small>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/img/adam.jpg"
          alt="Picture of adam"
        />
        <div class="card-body">
          <h5 class="card-title">Adam</h5>
          <p class="card-text">Adam is my brother</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Best Man</small>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/img/jerrad.jpg"
          alt="Picture of jerrad"
        />
        <div class="card-body">
          <h5 class="card-title">Jerrad</h5>
          <p class="card-text">Jerrad is my friend</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Groomsman</small>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../../assets/img/bob.jpg"
          alt="Picture of rob"
        />
        <div class="card-body">
          <h5 class="card-title">Rob</h5>
          <p class="card-text">Rob is my friend</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Groomsman</small>
        </div>
      </div>
    </div>
  </div>
</div>
