<div class="main-txt">
  <div class="title-div">
    <h1 class="title">Schedule</h1>
    <hr />
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-2 col-sm-2"></div>
    <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8">
      <h6 class="text">
        <p><b>2:30:</b> Pre-Ceremony Music/ Photos</p>
        <p><b>3:30:</b> Ceremony begins</p>
        <p><b>4:00:</b> Cocktail hour</p>
        <p><b>5:30:</b> Dinner Buffet Begins</p>
        <p><b>6:30:</b> Toasts/ Cake Cutting</p>
        <p><b>7:30:</b> First dance</p>
        <p><b>9:45:</b> Last call</p>
        <p><b>9:55:</b> Music off</p>
        <p><b>10:00:</b> Guests depart</p>
        <br />
        <p>* Times are subject to change</p>
      </h6>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-2 col-sm-2"></div>
  </div>
</div>
