<div class="main-txt">
  <div class="title-div">
    <h1 class="title">Travel</h1>
    <hr />
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-2 col-sm-2"></div>
    <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8">
      <h6 class="text">
        <p>
          For those of you who are out of town or just would not like to drive
          home here are a couple hotel options.
        </p>
        <br />
        <p>Holiday Inn Express & Suites Donegal</p>
        <p>3695 PA-31 East, Donegal, PA 15628 (724) 593-1881</p>
        <p>Located 3.3 miles (5 minutes) from venue.</p>
        <p>
          Rooms are available for our date to book online but due to other
          weddings a block is not reserved.
        </p>
        <br />
        <br />
        <p>
          <a href="https://www.7springs.com/" target="_blank"
            >Seven Springs Mountain Resort</a
          >
        </p>
        <p>777 Water Wheel Dr, Champion, PA 15622 (814) 352-7777</p>
        <p>Located 7.9 miles (13 minutes) from venue.</p>
        <br />
        <br />
        <p>Holiday Inn Express Mt. Pleasant - Scottdale</p>
        <p>250 Bessemer Rd, Mt Pleasant, PA 15666 (724) 547-2095</p>
        <p>Located 15.2 miles (24 minutes) from venue.</p>
      </h6>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-2 col-sm-2"></div>
  </div>
</div>
