<div class="main-txt">
  <div class="title-div">
    <h1 class="title">Travel</h1>
    <hr />
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-2 col-sm-2"></div>
    <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8">
      <h6 class="text">
        <p>
          For those of you who are out of town or just would not like to drive
          home here are a couple hotel options.
        </p>
        <br />
        <p>Holiday Inn Express & Suites Donegal</p>
        <p>3695 Pennsylvania 31</p>
        <p>Donegal, PA 15628</p>
        <p>(724) 593-1881</p>
        <br />
        <p>Another option that isn’t too far away:</p>
        <br />
        <p>Seven Springs Mountain Resort</p>
        <p>777 Water Wheel Dr, Champion, PA 15622</p>
      </h6>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-2 col-sm-2"></div>
  </div>
</div>
