<!--The content below is only a placeholder and can be replaced.-->
<div class="main-web">
  <app-navbar-main></app-navbar-main>
</div>
<div class="main-txt">
  <router-outlet></router-outlet>
</div>
<div class="wrapper">
  <div class="footer">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <br><br>
    <p>&lt;&gt; with &hearts; by <a href="https://dotfig.github.io/webfig">dotfig</a></p>
  </div>
</div>
