.main-web {
  background-color: black;
}

.wrapper {
  color: lightcoral;
  text-shadow: 0px 0px 7px rgb(135, 157, 153);
  position: relative;
  text-align: center;
}

.footer{
  position: fixed;
  bottom: 0;
  width:100%;
}

a {
  color: lightcoral;
  text-shadow: 0px 0px 2px rgb(135, 157, 153);
}
a:hover {
  color: #777;
  text-decoration: none;
}  
