<div class="main-txt">
  <div class="title-div">
    <h1 class="title">Registry</h1>
    <hr />
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-2 col-sm-2"></div>
    <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8">
      <h6 class="text">
        <p>For an online registry:</p>
        <p>
          Please note that your love and support is all we ask for on our
          special day. However, if you do wish to celebrate with a gift, we are
          registered at :
        </p>
        <br />
        <div class="row">
          <div class="col-sm-6">
            <a
              href="https://www.amazon.com/wedding/share/newtonwedding"
              target="_blank"
            >
              <img
                src="../../../../assets/img/amazon.jpg"
                alt="Amazon"
                width="70%"
                height="70%"
              />
            </a>
          </div>
          <div class="col-sm-6">
            <a href="tgt.gifts/newtonwedding2021" target="_blank">
              <img
                src="../../../../assets/img/target.jpg"
                alt="Target"
                width="70%"
                height="70%"
              />
            </a>
          </div>
        </div>
      </h6>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-2 col-sm-2"></div>
  </div>
</div>
