<div class="main-txt">
    <div class="title-div">
        <h1 class="title">Frequently Asked Questions</h1>
        <hr>
    </div>
    <div class="content">
        <h6 class="text">Q.) Here is a question?</h6>
        <h6 class="text">A.) Here is an answer.</h6>
        <br>
        <h6 class="text">Q.) Here is a question?</h6>
        <h6 class="text">A.) Here is an answer.</h6>
        <br>
        <h6 class="text">Q.) Here is a question?</h6>
        <h6 class="text">A.) Here is an answer.</h6>
        <br>
        <h6 class="text">Q.) Here is a question?</h6>
        <h6 class="text">A.) Here is an answer.</h6>
    </div>
</div>