/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.body { 
  background-image: url("/assets/img/main.JPG");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
